body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.newsletter {
  padding: 2em;
  background: #eee;
  text-align: center;
}
footer {
  background: teal;
  color: white;
  padding: 2em;
}